<h1><%= room.name %></h1>

<%= render partial: "room_comments/comments", locals: { room: room } %>

<%= form_with(
  model: room_comment,
  url: room_create_path(room),
  data: { turbo_frame: "comments" }
) do |form| %>
  <%= form.label :body %>
  <%= form.text_field :body %>

  <%= form.submit %>
<% end %>
